<section class="my-carousel">
    <div id="carousel-jobs" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="3000">


        <
        
        <div class="carousel-inner" style="max-width: ">
    
            <div class="carousel-item active">
                <img class="d-block " src="~/Imgs/Imovel1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block " src="~/Imgs/Imovel2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block " src="~/Imgs/Imovel3.jpg" alt="Third slide">
            </div>
        </div>
       
    </div>
</section>